html,
body,
.wrap {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.header{
    height: 40px;
    width: 100%;
    background: rgb(20, 104, 230);
    border-bottom: 1px #eee solid;
    line-height: 40px;
    font-size: 20px;
}
.content{
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
}
.content .left{
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px #eee solid;
    float: left;
}
.content .main{
    position: absolute;
    left: 300px;
    right: 0;
    height: 100%;
    top: 0;
}
.main .wnd{
  border: none;
  height: 100%;
  width: 100%;
}
.left .left_list{
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.left .left_list_item{
    cursor: pointer;
    margin: 5px auto;
}